name: docs
on:
  # For manual pushes.
  workflow_dispatch: 

  # Pushes to main that touch the documentation directory.
  push:
    branches:
      - master
    paths:
      - 'docs/**'

permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material
      - run: pip install mkdocs-redirects
      - name: Build mkdocs site
        run: mkdocs build -f docs/mkdocs.yml -d ../site
        working-directory: docs
      - name: Copy demo to site
        run: cp -r docs/source/demo site/demo
      - name: Deploy to gh-pages
        run: |
          cd site
          git init
          git add -A
          git commit -m "Deploy docs"
          git push -f https://x-access-token:${{ github.token }}@github.com/${{ github.repository }}.git HEAD:gh-pages
