name: Release
permissions: read-all

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish-npm-wasm:
    name: Publish NPM (flatc-wasm)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./wasm
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - run: npm publish --tag latest --provenance --access public
